<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}タイトル{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            {% block content %}
            <h1>内容</h1>
            {% endblock content %}
        </div>
    </body>
</html>
