<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メモアプリ</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
    {% endfor %}
  </body>
</html>
