{% extends "base.j2" %}
{% block content %}
  <h1>サインアップ</h1>
  {% from '_formhelpers.j2' import render_field %}
  <form action="{{ url_for('auth.register') }}" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    <br>
    {{ form.submit }}
  </form>
  <p>すでにアカウントをお持ちの場合は<a href="{{ url_for('auth.login') }}">こちら</a>からログインしてください。</p>
{% endblock content %}
