{% extends "base.j2" %}
{% block content %}
  <h1>メモを編集</h1>
  {% from '_formhelpers.j2' import render_field %}
  <form action="{{ url_for('update', memo_id=edit_id) }}"
        method="post"
        novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.title) }}
    {{ render_field(form.content, row=5, cols=50) }}
    {{ form.submit }}
  </form>
{% endblock content %}
