{% extends "base.j2" %}
{% block content %}
  <h1>メモを編集</h1>
  <form action="{{ url_for('update', memo_id=memo.id) }}" method="post" novalidate>
    <p>タイトル：<input type="text" name="title" value="{{ memo.title }}"></p>
    <p>内容：<textarea name="content" cols="50" rows="5">{{ memo.content }}</textarea></p>
    <p><input type="submit" value="更新"></p>
  </form>
  <p><a href="{{ url_for('index') }}">戻る</a></p>
{% endblock content %}
